/* Contenedor de partículas! */
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; 
  pointer-events: none;
}

/* Partículas VISIBLES por defecto */
.particle {
  position: absolute;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background: rgba(247, 0, 255, 0.144);
  box-shadow: 
    0 0 10px rgba(38, 0, 255, 0.185),
    0 0 20px rgba(255, 0, 255, 0.199);
  opacity: 1; /* Siempre visible */
  transform: translate(-50%, -50%);
  will-change: transform;
}